<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>THOR</title>
    <link rel="icon" type="image/png" href="/pages/thor/images/favicon_32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="/pages/thor/images/favicon_16.png" sizes="16x16"/>
    <link rel="stylesheet" href="/pages/thor/stylesheets/main.css">
</head>
<body>
<audio id="background" src="/pages/thor/audios/background.mp3" loop></audio>
<script type="text/javascript" src="/node_modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/node_modules/jcanvas/jcanvas.min.js"></script>
<script type="text/javascript" src="/pages/thor/javascripts/main.js"></script>
</body>
</html>